interval: %%INTERVAL%%                              # in seconds, interval between device scan. Defaults to 30
grace_period: %%GRACE_PERIOD%%                          # in seconds, delay before considering a device has disappeared. Defaults to 60
home_assistant_url: http://localhost:%%HOME_ASSISTANT_PORT%% # url to contact home-assistant. Defaults to http://localhost:8123
home_assistant_token: %%HOME_ASSISTANT_TOKEN%%               # Long lived access token if you're using the `homeassistant` http auth type.
#home_assistant_password: %%HOME_ASSISTANT_PASSWORD%%            # non mandatory password to authenticate to home-assistant api. Default is nil
home_assistant_devices:                   # devices whose activity will be sent to home-assistant. Default is empty (no tracked devices)
  %%DEVICES%%                 # [macaddress]: [identifier for home-assistant]

home_assistant_devices_file: # read devices whose activity will be sent to home-assistant. Default is empty (devices from home-assistant are not tracked). This can easily replace home_assistant_devices setting.
